<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 包扫描 以此法被扫描的实体类，别名为类名的首字母小写形式(类似于Bean -> bean) -->
		<!-- <package name="com.anywide.shop.order.entity"/> -->

		<!-- 逐个声明别名 -->
		<typeAlias alias="Order" type="com.anywide.shop.order.entity.Order" />
	</typeAliases>
	<mappers>
		<!-- 添加mapper -->
		<mapper resource="com/anywide/shop/order/mapper/Order.xml" />
	</mappers>
</configuration>