<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
 <!--  <package name="com.coffee.entity"/> -->
  <typeAlias alias="Student" type="com.coffee.entity.Student"/>
  <typeAlias alias="LeaveEvent" type="com.coffee.entity.LeaveEvent"/>
  <typeAlias alias="User" type="com.coffee.entity.tbl_user"/>
  <typeAlias alias="Address" type="com.coffee.entity.tbl_address"/>
  <typeAlias alias="Visit" type="com.coffee.entity.tbl_visit"/>
  </typeAliases>
  <mappers>
    <mapper resource="com/coffee/xml/Address.xml"/>
    <mapper resource="com/coffee/xml/MyUser.xml"/>
     <mapper resource="com/coffee/xml/User.xml"/>
  </mappers>
</configuration>