*.class

# Mobile To
.mtj.tmp/

# Package F
*.war
*.ear

# idea IDE
.idea/
*.iml
*.project

# log file
*.log

#target fil
target/

# virtual m
hs_err_pid*

service/.DS

/target/
.classpath
.project
.settings
