<configuration debug="true" scan="true" scanPeriod="60 seconds">  
  <!-- 
<contextListener class="my.listener.Demo" />  --> 
 
  <!-- <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <encoder> 
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %c - %L %msg%n</pattern> 
    </encoder> 
  </appender>  -->
 <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">   
    <file>/Users/jackson.song/Desktop/logs/debug_webclient.log</file>   
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">   
      <fileNamePattern>/Users/jackson.song/Desktop/logs/debug_webclient.%i.log</fileNamePattern>   
      <minIndex>1</minIndex>   
      <maxIndex>30</maxIndex>   
    </rollingPolicy>   
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">   
      <maxFileSize>50MB</maxFileSize>   
    </triggeringPolicy>   
    <encoder>   
    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %c -  %L %msg%n</pattern>
     <!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>   -->  
     <!-- %d{HH:mm:ss.SSS} [%thread] %-5level %c %L - %msg%n -->
    </encoder>   
  </appender>   
 
 <appender name="SERVERCONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">   
    <file>../logs/console.log</file>   
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">   
      <fileNamePattern>../logs/console.%i.log</fileNamePattern>   
      <minIndex>1</minIndex>   
      <maxIndex>30</maxIndex>   
    </rollingPolicy>   
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">   
      <maxFileSize>50MB</maxFileSize>   
    </triggeringPolicy>   
    <encoder>   
    <pattern>%msg</pattern>
     <!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>   -->  
     <!-- %d{HH:mm:ss.SSS} [%thread] %-5level %c %L - %msg%n -->
    </encoder>   
  </appender>   
 
  <logger name="system.out" level="INFO" additivity="false">
  <appender-ref ref="SERVERCONSOLE" /> 
  </logger>
  <root level="DEBUG">           
   <!--  <appender-ref ref="STDOUT" />  -->
    <appender-ref ref="FILE" /> 
  </root>   
   
 </configuration>